.plays {
  padding: 1em;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1em;
  }

  &__container {
      @include outer-container;
  }
}

.play {

  @include media($medium-screen-up) {
    @include span-columns(3);
    @include omega(2n);
  }

  @include media($large-screen-up) {
    @include omega-reset(2n);
    @include span-columns(4);
    @include omega(3n);
  }


  &__title {
    color: rkd-color('primary');
  }
}
