/* colors */
$rkd-color-key: 'base' !default;
$rkd-primary-color: #054b94;

$rkd-colors: (
  'primary': (
    'base': $rkd-primary-color,
    'dark': darken($rkd-primary-color, 15),
    'light': lighten($rkd-primary-color, 25)
  ),
  'gray': (
    'base': #242424
  )
);
$var: 4;
