<footer class="footer" role="contentinfo">

  <div class="footer__items">
    <div class="footer__item">
      <h3>General Inquiries</h3>
      <a href="mailto:steve@redkingdreaming.com">steve@redkingdreaming.com</a>
    </div>

    <div class="footer__item">
      <h3>Twitter Handle</h3>
      <a href="#">SleepyPanda76</a>
    </div>

    <div class="footer__item">
      <h3>Theatre Representation</h3>
      Mary Harden / Scott Edwards<br>
      Harden-Curtis Associates<br>
      214 West 29th Street, Suite 1203<br>
      New York, NY 10001<br>
      212-977-8502
    </div>

    <div class="footer__item">
      <h3>Television Representation</h3>
      Zachary Carlisle<br>
      Verve<br>
      San Vicente Blvd, Suite 100<br>
      Los Angeles, CA 90048<br>
      (310) 558-2424
    </div>
  </div>
  
</footer>
