<footer class="footer" role="contentinfo">

  <div class="footer__items">
    <div class="footer__item">
      <h3>General Inquiries</h3>
      <a href="mailto:steve@redkingdreaming.com">steve@redkingdreaming.com</a>
      <h3>Twitter Handle</h3>
      <a href="#">SleepyPanda76</a>
      <h3>Resources</h3>
      <p><a href="http://www.samuelfrench.com/author/3891/steve-yockey">Samuel French Author's Page</a></p>
      <p><a href="https://newplayexchange.org/users/158/steve-yockey">New Play Exchange Page</a></p>
    </div>

    <div class="footer__item">
      <h3>Theatre Representation</h3>
      Beth Blickes<br>
      APA<br>
      135 West 50th Street, 17th Floor<br>
      New York, NY 10020<br>
      212-621-3098
    </div>

    <div class="footer__item">
      <h3>Television Representation</h3>
      Zachary Carlisle<br>
      Verve<br>
      San Vicente Blvd, Suite 100<br>
      Los Angeles, CA 90048<br>
      (310) 558-2424
    </div>
  </div>

</footer>
