<header role="banner" class="navigation">
  <div class="navigation__wrapper">
    <a href="{{site.baseurl}}/" class="navigation__logo">RKD</a>
    <a href="javascript:void(0)" class="navigation__toggle" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation__items show">
        {% for navitem in site.data.navigation %}
        <li class="navigation__item">
          <a href="{{site.baseurl}}/{{ navitem.href }}" class="navigation__link">{{ navitem.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div><!-- end .navigation__wrapper -->
</header>
