<section class="hero">
  <div class="carousel h-screen">
    {% for slide in slides %}
      <div class="slide w-full h-screen">
        <img src="/assets/images/{{slide.image}}" alt="" class="w-full h-full object-cover">
      </div>
    {% endfor %}
  </div>
</section>
