<section class='hero'>
    <div class="hero__slideshow slick" data-slick='{"autoplay": true, "dots": true, "speed": 500, "arrows": false}'>
      {% for slide in site.data.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}
        <div class='slick__item centered-text {{style}}' style='background-image: url({{site.baseurl}}/{{slide.bg}});'>
          <h1 class="slick__title">{{slide.title}}</h1>
          <p class="slick__tagline">{{slide.tagline}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
