<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    RKD
  </div>

  <div class="footer-links">
  <div>
    General Inquiries
    steve@redkingdreaming.com
  </div>

  <div>
    Twitter Handle
    SleepyPanda76
  </div>

  <div>
    Theatre Representation
    Mary Harden / Scott Edwards
    Harden-Curtis Associates
    214 West 29th Street, Suite 1203
    New York, NY 10001
    212-977-8502
  </div>

  <div>
    Television Representation
    Zachary Carlisle
    Verve
    San Vicente Blvd, Suite 100
    Los Angeles, CA 90048
    (310) 558-2424
  </div>
  </div>
</footer>
