<!DOCTYPE html>
<html lang="en-ca">
{% include "head.html" %}
<body class="font-sans">
	<main>
	{{ content | safe }}
	</main>
	{% include "footer.html" %}
	<script type="text/javascript" src="/assets/bundle.js"></script>
</body>
</html>
