<!DOCTYPE html>
<html lang="en-ca">
{% include "head.html" %}
<body class="font-sans antialiased">
	<main>
	{{ content | safe }}
	</main>
	{% include "footer.html" %}
	<script type="text/javascript" src="/assets/bundle.js"></script>
	<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
